.af {
  position: relative;
  width: 100%;
}

.af__control {
  width: 100%;
  height: 56px;

  border-radius: 18px;
  border: 1px solid #e5e7eb;
  background: #ffffff;

  padding: 20px 44px 10px 14px;

  font-size: 14px;
  font-weight: 500;
  color: #111827;

  transition: border-color .15s ease, box-shadow .15s ease, background-color .15s ease;
  outline: none;
}

.af__control:hover {
  border-color: #c4c4c4;
  background: #fafafa;
}

.af__control:focus {
  border-color: #c4c4c4;
  box-shadow: 0 0 0 3px rgba(173, 173, 173, 0.22);
  background: #ffffff;
}

/* ✅ label default = як placeholder (по центру) */
.af__label {
  position: absolute;
  left: 14px;
  top: 50%;
  transform: translateY(-50%);

  font-size: 14px;
  font-weight: 500;
  color: #9ca3af;

  pointer-events: none;
  transition: all .14s ease;
}

/* ✅ коли є значення або фокус — піднімаємо */
.af__control:focus + .af__label,
.af__label--up {
  top: 8px;
  transform: translateY(0);
  font-size: 10px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .04em;
  color: #c7c7c7;
  background: #fff;
  padding: 0 6px;
}

/* select */
.af--select .af__control {
  appearance: none;
  cursor: pointer;
}

/* arrow */
.af--select::after {
  content: "";
  position: absolute;
  right: 18px;
  top: 50%;
  width: 9px;
  height: 9px;
  transform: translateY(-50%) rotate(45deg);

  border-right: 2px solid #9ca3af;
  border-bottom: 2px solid #9ca3af;

  pointer-events: none;
}
